.li {
	text-align: start;
	font-size: 1.25rem;
	color: rgb(2, 112, 2);
}

button {
	color: red;
}

.loading {
	font-size: 3rem;
	font-weight: 600;
	color: blue;
}

.err {
	font-size: 2.5rem;
	font-weight: 600;
	color: red;
}
